

<ion-view title="Home"  hide-back-button="true">
    <ion-content padding="true" class="has-header">
    	<div class="home">
      <div class="dots">
      <i class="ion-record" id="first" style="color:#4CCEAD"></i>
      <i class="ion-record" id="second"style="color:#d2d2d3"></i>
      <i class="ion-record" id="third"style="color:#d2d2d3"></i>
</div>
        <div>
     <img ng-src="img/calendar.png" id="home_image">
  </div>

  	<div class="homePara">
    	<p id="home1">Track your family's vaccination records and <br>add new vaccination records   </p>
    	</div>
    	<div class="homeButton">
    	 <button class="button button-large button-balanced button-block"
          ng-click="HomeUser()">Next ->
          </button>

    </div>
      </ion-content>
</ion-view>
